.hero-container {
    background:linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ),url('https://registration.ueab.ac.ke/assets/landing/images/slider/landing/admin-block-ueab.png'); 
    background-repeat: no-repeat;
    height: 50vh; 
    background-size: cover; 
    background-position: center center;
}

.footer-links {
    list-style-type: none; 
    text-decoration: none;
}

.footer-links li a {
    text-decoration: none;
}

.footer-links li a:hover {
    color: orange;
}