.search-results {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.search-results-image {
    width: 90%;
    margin: 0 auto;
}

.search-results-image div {
    text-align: center;
    width: 90%;
    
}
/* 
.search-results-image div img {
    width: 60%;
} */