.logo-container {
    height: 20px;
    
}

.links a {
    text-decoration: none;
    margin-right: 15px;
    color: white;
}

.links a:hover{
    color: orange;
}

.navbar {
    z-index: 1000;
    position: fixed;
    top: 0;
    margin-bottom: 20px;
    width: 100%;
}

#sidebarToggle {
    color: rgb(226, 216, 216);
    font-weight: 100;
    position: relative;
    cursor: pointer;
}






